<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<form name="edit" novalidate data-ng-submit="save(edit)" data-layout="row" novalidate>
    <label>
        <input class="full-width" name="input" type="text" title="" autocomplete="off" data-ng-minlength="3" data-ng-model="editValue" />
    </label>
    <div class="help-block" ng-messages="edit.input.$error" ng-if="edit.input.$invalid">
      <p ng-message="minlength"><i>Имя должно быть не менее 3 символов</i></p>
    </div>

    <div>
        <button class="btn-call-to-action btn-small" type="submit" data-ng-disabled="pokemonForm.$invalid">
            Save
        </button>
        <button class="btn-cancel btn-small" type="button" data-ng-click="cancel()">
            Cancel
        </button>
    </div>
</form>
